<!--Page start-->
<section class="auth-page">
   <div class="animation-circle-inverse">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <div class="animation-circle">
      <i></i>
      <i></i>
      <i></i>
   </div>

   <div class="container cooming-soon">
      <div class="row mb-50">
         <div class="col-md-6 left">
            <div class="clock-box">
               <div>
                  <div>
                     <!--<h2 style="color:white;">Coming Soon!</h2>
                     <img src="assets/images/title-line.png" alt="" class="img-fluid">-->
                  </div>
                  <div id="clockdiv">
                        <img src="https://firebasestorage.googleapis.com/v0/b/urltv-mcbattlearena.appspot.com/o/urltv_web_images%2FCOMING%20SOON%20v2.png?alt=media&token=a64a30f4-c4dc-4691-b193-8da9207ab5c3" alt="" class="img-fluid">
                     <div>
                        <span class="days"></span>
                        <div class="smalltext">Days</div>
                     </div>
                     <div>
                        <span class="hours"></span>
                        <div class="smalltext">Hours</div>
                     </div>
                     <div>
                        <span class="minutes"></span>
                        <div class="smalltext">Minutes</div>
                     </div>
                     <div>
                        <span class="seconds"></span>
                        <div class="smalltext">Seconds</div>
                     </div>
                     <a href="https://play.google.com/store/apps/details?id=tv.urltv"><img src="https://firebasestorage.googleapis.com/v0/b/urltv-mcbattlearena.appspot.com/o/urltv_web_images%2Fgoogle-play-badge.png?alt=media&token=dfba1061-f18a-45df-b645-b4a3f33d067f" alt="app1" class="img-fluid" data-tilt data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8"></a>
                     <a href="https://itunes.apple.com/us/app/urltv-tv/id1449577657"><img src="https://firebasestorage.googleapis.com/v0/b/urltv-mcbattlearena.appspot.com/o/urltv_web_images%2Fapple-appstore-badge.png?alt=media&token=30de86a1-2f61-426e-b620-ecf33b205cd4" alt="app2" class="img-fluid" data-tilt data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8"></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="home-right">
               <div>
                  <img src="https://firebasestorage.googleapis.com/v0/b/urltv-mcbattlearena.appspot.com/o/urltv_web_images%2FSimulator%20Screen%20Shot%20-%20iPhone%20X%20-%202019-05-19%20at%2017.16.49_iphonexspacegrey_portrait.png?alt=media&token=be9cd332-0522-4b30-b442-e563838acbdf" alt="top1" class="img-fluid">
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!---<section class="subscribe-bg">
   <div class="container">
      <div class="row">
         <div class="col-sm-12 col-lg-4">
            <div class="subscribe">
               <h3>Pre-Register</h3>
            </div>
         </div>
         <div class="col-sm-12 col-lg-8">
            <div class="email-box">
               <form>
                  <a [routerLink]="'/pages/sign-up'" class="btn btn-email">Sign Up Now</a>
                  //don't need this<button type="submit" class="btn btn-email">Sign Up Now</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>-->
<!--Page Ends-->