<!-- contact-section -->
<section class="contact" id="contact">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="section-title">
               <h2>Contact Info</h2>
            </div>
            <p>If you are facing any technical issues, you can get help via the email address below.</p>
            <ul class="contact-box">
               <li>
                  <div class="contact-circle">
                     <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </div>
                  <div class="contact-text">
                     <h3>Location</h3>
                     <p>New York, NY</p>
                  </div>
               </li>
               <li>
                  <div class="contact-circle">
                     <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                  <div class="contact-text">
                     <h3>Email</h3>
                     <p>appsupport@urltv.tv</p>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- end contact section -->

