.slid-btn button {
  margin: 0 auto;
  display: block;
  font-size: 2rem;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: 1px 1px 15px #fff;
  background: none;
  color: #fff;
  padding: 10px 40px;
}
