<!-- slider-section -->
<section class="slide-bg" id="home">
  <div class="animation-circle">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex-1">
          <div class="slide-text">
            <div>
              <h1>
                Download the official app of the
                <span class="main-title">Ultimate Rap League!</span>
              </h1>
              <h4>Follow The Innovators, Not The Imitators.</h4>
              <div class="slid-btn">
                <button
                  *ngIf="!authorized"
                  style="will-change: transform; transform: perspective(50px) rotateX(0deg) rotateY(0deg);"
                  (click)="openHandler()"
                >
                  Subscribe Now
                </button>
                <span *ngIf="authorized">
                  <p>Please login to the mobile app with email {{ email }}</p>
                  <a
                    href="https://play.google.com/store/apps/details?id=tv.urltv"
                    ><img
                      src="https://firebasestorage.googleapis.com/v0/b/urltv-mcbattlearena.appspot.com/o/urltv_web_images%2Fgoogle-play-badge.png?alt=media&token=dfba1061-f18a-45df-b645-b4a3f33d067f"
                      alt="app1"
                      class="img-fluid"
                      data-tilt
                      data-tilt-perspective="50"
                      data-tilt-speed="350"
                      data-tilt-max="1.8"
                  /></a>
                  <a
                    href="https://itunes.apple.com/us/app/urltv-tv/id1449577657"
                    ><img
                      src="https://firebasestorage.googleapis.com/v0/b/urltv-mcbattlearena.appspot.com/o/urltv_web_images%2Fapple-appstore-badge.png?alt=media&token=30de86a1-2f61-426e-b620-ecf33b205cd4"
                      alt="app2"
                      class="img-fluid"
                      data-tilt
                      data-tilt-perspective="50"
                      data-tilt-speed="350"
                      data-tilt-max="1.8"
                  /></a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="home-right">
          <div>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/urltv-mcbattlearena.appspot.com/o/urltv_web_images%2FScreen%20Shot%20-%20iPhone%20X%20png_iphonexspacegrey_portrait.png?alt=media&token=ebf26de4-33b5-4289-b014-b3196fd210f3"
              alt="top1"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end slider section -->
