<!-- Sign in Section start -->
<section class="p-0">
    <div class="animation-circle-inverse">
        <i></i>
        <i></i>
        <i></i>
    </div>
    <div class="thanks-bg">
        <div class="thank-you">
            <div style="padding-top: 0px"><a [routerLink]="'/home/one'" class="mb-4">Sorry to see you go. If you have an active subscription you will maintain premium access unil the end of the subscription period. Your subscription will be canceled before the end of the current billing cycle and you will receive a confirmation email. Thank you for supporting the culture. We hope you return.</a></div>
            <img src="https://firebasestorage.googleapis.com/v0/b/urltv-mcbattlearena.appspot.com/o/urltv_web_images%2Furltv_cast_background.jpeg?alt=media&token=b0dbadad-9c82-4a6c-90f3-f90d651bbf52" alt="thanks" class="img-fluid">
            <!--<h3 class="mb-4">Your subscription is being processed. Thank you for supporting the culture!</h3>-->
        </div>
    </div>
</section>
<!-- Sign in Section End -->