<!-- download section -->
<section class="download-bg">
   <div class="container">
      <div class="row">
         <div class="col-xl-3 display-flex">
            <div class="footer-logo">
               <img src="https://firebasestorage.googleapis.com/v0/b/urltv-mcbattlearena.appspot.com/o/urltv_web_images%2Furltv_orig_log_transparent.PNG?alt=media&token=9498df7f-569a-4753-9b26-98e7f0ee843d" alt="footer-logo" class="img-fluid">
            </div>
         </div>
         <div class="col-xl-5 display-flex">
            <div class="download-text">
               <h3>Download now to view the latest battles.</h3>
            </div>
         </div>
         <div class="col-xl-4 display-flex">
            <div class="download-img">
               <ul>
                  <li><a href="https://play.google.com/store/apps/details?id=tv.urltv"><img src="https://firebasestorage.googleapis.com/v0/b/urltv-mcbattlearena.appspot.com/o/urltv_web_images%2Fgoogle-play-badge.png?alt=media&token=dfba1061-f18a-45df-b645-b4a3f33d067f" alt="foot-app" class="img-fluid"  data-tilt data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8"></a></li>
                  <li><a href="https://itunes.apple.com/us/app/urltv-tv/id1449577657"><img src="https://firebasestorage.googleapis.com/v0/b/urltv-mcbattlearena.appspot.com/o/urltv_web_images%2Fapple-appstore-badge.png?alt=media&token=30de86a1-2f61-426e-b620-ecf33b205cd4" alt="foot-app1" class="img-fluid"  data-tilt data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8"></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end download section -->