<app-header></app-header>
<div class="page-margin">
    <!--breadcrumb start-->
    <div class="breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 d-align-center">
                    <h2 class="title"><span>FAQ</span></h2>
                </div>
                <div class="col-md-6 col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb ">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <!--<li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>-->
                            <li class="breadcrumb-item active"><a [routerLink]="'/pages/faq'">FAQ</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumb end -->

    <!-- faq -->
    <section class="faq blog-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion" id="accordionExample">
                        <div class="card mb-3">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="faq-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        How to Purchase Pemium Subscription?
                                        <i class="fa fa-angle-down pull-right"></i>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <h5 style="color:black;">Step 1</h5>
                                    <p> If you already have an account Sign in here: <a href="https://urltv.tv/pages/sign-in">urltv.tv/pages/sign-in</a> otherwise
                                        Sign up: <a href="https://urltv.tv/pages/sign-up">urltv.tv/pages/sign-up</a></p>
                                    <h5 style="color:black;">Step 2</h5>
                                    <p>After being redirected to the home page, scroll down and insert your payment info
                                        to purchase a subscription.</p>
                                    <h5 style="color:black;">Step 3</h5>
                                    <p>You should receive a confirmation email once you payment is processed
                                        successfully.</p>
                                    <h5 style="color:black;">Step 4</h5>
                                    <p>Download the app by clicking on the image for your App Store. iOS or Android.</p>
                                    <h5 style="color:black;">Step 5</h5>
                                    <p>Login to the app with the same account you signed in/signed up with in step 1.
                                        Thanks for the support!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        What is the EULA?
                                        <i class="fa fa-angle-down pull-right"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>The End User License Agreement identifies the terms that all users must abide by
                                        in
                                        order to continue the use of the app. The EULA for URL TV is below.</p>
                                    <p class="p1">1. Legal Capacity:</p>
                                    <p class="p1">Children and Minors. If you are under the age of consent in your
                                        country to form a binding agreement, you should only use our Service if you are
                                        either an emancipated minor, or have the legal consent of your parent or
                                        guardian for your use of our Service. You should use our Service only if you
                                        are fully able to understand and enter into and comply with these Terms. Our
                                        Services are not intended for children under 17. If you are under 17, please
                                        wait until you turn 17 to use them.</p>
                                    <p class="p1">2. User Content:</p>
                                    <p class="p1">We want you to share your comments on videos and interact with other
                                        users. However, because we want to protect you and other users and make sure
                                        your experience is positive; we reserve the right at all times to remove or
                                        refuse to distribute any User Content on the Service, to suspend or terminate
                                        abusive users, and to block<span class="Apple-converted-space">  </span>User
                                        Content we deem objectionable or abusive. Bullying, racial slurs, and other
                                        abusive behaviour will not be tolerated, and repeat offenders will be removed
                                        from the Service.</p>
                                    <p class="p1"> 3. Responsibility for Your Use: You may only use our Service and its
                                        contents for lawful purposes and in accordance with applicable law and you are
                                        prohibited from storing, distributing, or transmitting any unlawful material
                                        through this Service, otherwise you may be exposed to criminal and/or civil
                                        liability. You agree that if a third-party claims that material you have
                                        contributed to our Service is unlawful, you will bear the burden of
                                        establishing that it is lawful. You understand and agree that all materials
                                        publicly posted or privately transmitted on or through this Service are the
                                        sole responsibility of the sender, not URL, and that you are responsible for
                                        all material you publicly post or otherwise transmit to or through this
                                        Service.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Why am I not able to comment on videos?
                                        <i class="fa fa-angle-down pull-right"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>You may have been identified as an abusive user by our moderators due to posting
                                        objectionable comments. Your status will be restored after 72 hours and you
                                        will be able to post comments. If you continue to violate the EULA your account
                                        will be terminated.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        I forgot my password. How can I reset it?
                                        <i class="fa fa-angle-down pull-right"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Go to the Login Page. Enter your email in the Email Address text field. Then
                                        select 'Forgot Password'. If your email is valid and belongs to an account, you
                                        will be sent a link to reset your password.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        What is the Global Score Card?
                                        <i class="fa fa-angle-down pull-right"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>For all battles, users have the ability to react to a battler's round. These
                                        reactions are collected and displayed on the user's Score Card. The Global
                                        Score Card is the sum of all user's reactions for that battle.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" id="headingSix">
                                <h5 class="mb-0">
                                    <button class="faq-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is your Privacy Policy?
                                        <i class="fa fa-angle-down pull-right"></i>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingSix"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <h5 style="color:black;">What personal data we collect and why we collect it</h5>
                                    <p>When you sign up for an account, we collect your email address and a password of
                                        your creation. This allows us to identify you when you log into our platform,
                                        so
                                        that we can display details specific to your account. This include video
                                        playlists
                                        and battle score cards.</p>
                                    <h5 style="color:black;">Who we share your data with</h5>
                                    <p>We don't share your data with anyone at this time. If that changes, this policy
                                        will be updated and you will be notified via an email.</p>
                                    <h5 style="color:black;">How long we retain your data</h5>
                                    <p>If you leave a comment, the comment and its metadata are retained indefinitely.
                                        This is so we can recognize and approve any follow-up comments automatically
                                        instead of holding them in a moderation queue.</p>
                                    <h5 style="color:black;">What rights you have over your data</h5>
                                    <p>If you have an account on this app, or have left comments, you can request to
                                        receive an exported file of the personal data we hold about you, including any
                                        data
                                        you have provided to us. You can also request that we erase any personal data
                                        we
                                        hold about you. This does not include any data we are obliged to keep for
                                        administrative, legal, or security purposes.</p>
                                    <h5 style="color:black;">Where we send your data</h5>
                                    <p>Video comments may be checked through an automated spam detection service.
                                        <h5 style="color:black;">Contact information</h5>
                                        <p>If you have any questions, please contact us at appsupport@urltv.tv</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="animation-circle absolute">
            <i></i>
            <i></i>
            <i></i>
        </div>
        <div class="animation-circle-inverse">
            <i></i>
            <i></i>
            <i></i>
        </div>
    </section>
    <!-- faq end -->
</div>
<app-footer></app-footer>